body {
  padding-top: 3.5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#row1 {
  background-color: #2196f3;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#avatar {
  height: 300px;
  width: 300px;
}

#titleText {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 36pt;
  margin-top: 16px;
  margin-bottom: 0;
}

.blogEntry {
  padding: 16px;
}